h1, h2, h3 {
  color: var(--color-main);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courseContentWrapper {
  background-color: white;
  
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 20px;
  max-width: 1200px;
  margin: 16px auto;
  
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  border-radius: 16px;
}

.mainContent {
  grid-column: 1 / 2;
}

.sidebar {
  grid-column: 2 / 3;
  padding: 0 8px;
}

.unitsList {  
  padding: 16px;
  height: 470px;
  width: auto;
  
  overflow-y: auto;
  
  -ms-overflow-style: none;
  
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  border: 2px solid var(--color-main);
  border-radius: 8px;
}