.messageBubbleWrapper {  
  margin: 8px;  
  display: flex;
}

.messageBlock {
  background-color: var(--color-main);
  border-radius: 16px;
  
  display: flex;
  flex-direction: column;
  
  padding: 8px 16px;
  margin-left: 5px;
}

.pfp {
  height: 50px;
  width: 50px;
  
  border: 2px solid var(--color-main);
  border-radius: 50%;
}

.userName {
  color: white;
  font-weight: bold;
}

.message {
  display: inline-block;
  
  color: white;
  text-wrap: wrap;
}