.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}

.courseList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 32px 24px 0 24px;
  width: 100%;
  max-width: 1100px;
}

.importantSection {
  display: flex;
  gap: 32px;
  margin-top: 24px;
  padding: 0 24px;
  width: 100%;
  max-width: 1100px;
  justify-content: center;
}