
.navbar {
	width: 95%;
	height: 64px;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	background: white;
	border-radius: 0 0 18px 18px;
	box-shadow: 0 0 16px rgba(0,0,0,0.2);
	
	padding: 0 16px;
}

.logo {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	object-fit: cover;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.07);
	
	margin-right: 20px;
}

.navOptions {
	display: flex;
	gap: 32px;
}

.navOption {
	color: var(--color-main);
	font-size: 1.1rem;
	font-weight: 500;
	cursor: pointer;
	padding: 8px 12px;
	border-radius: 6px;
	transition: background 0.18s, color 0.18s;
}

.navOption:hover {
	box-shadow: 0 0 5px rgba(127,93,255,0.5);
	/*color: var(--color-text-hover);*/
}

.navbar :global(svg) {
	color: var(--color-main);
	width: 36px;
	height: 36px;
	cursor: pointer;
	transition: color 0.18s;
}
.navbar :global(svg):hover {
	color: var(--color-main-hover);
}
