.chatBoxWrapper {
  background-color: white;

  border: 2px solid var(--color-main);
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);

  padding: 16px;
  margin: 8px;

  display: flex;
  flex-direction: column;
  
  height: 400px; 
}

.messageView {
  border: 2px solid var(--color-main);
  border-radius: 8px;
  
  flex-grow: 1;
  
  overflow-y: auto; 
  
  padding: 8px 0;
  
  display: flex;
  flex-direction: column;
  
  -ms-overflow-style: none;
  
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.messageList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatBoxWrapper form {
  display: flex;
  gap: 8px;
  flex-shrink: 0; 
  padding-top: 8px;
}

.chatBoxWrapper input {
  flex-grow: 1;
  width: auto;
  border: 2px solid var(--color-main);
  border-radius: 8px;
  padding: 8px 12px;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
}

.chatBoxWrapper input:focus {
  border-color: var(--color-main);
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
  outline: none;
}

.chatBoxWrapper button {
  flex-shrink: 0; 
  background-color: var(--color-main);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px; 
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.chatBoxWrapper button:hover {
  background-color: var(--color-main-hover); 
  opacity: 0.9;
}