.container {
  display: inline-flex;
  flex-direction: column;
  
  border-radius: 16px;
  
  padding: 8px 16px;
  margin: 8px;
  
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  
  border: 2px solid var(--color-main);
}

.headline {
  color: var(--color-main);
  text-decoration: underline;
  cursor: default;
  text-align: center;
}

.updatesDisplay {
  max-height: 120px;
  width: auto;
  
  overflow-y: auto;
  
  padding: 0 16px;
  
  scrollbar-color: var(--color-main) whitesmoke;
  scrollbar-width: 5px;
}

.updateItem {
  color: white;
  background-color: var(--color-main);
  padding: 8px 16px;
  border-radius: 16px;
  margin-bottom: 8px;
  text-wrap: wrap;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  transition: all 0.3s ease-out;
}

.updateItem a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
}

.newsTitle {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.redirectMsg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(127, 93, 255, 0.9);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  border-radius: 16px;
  pointer-events: none;
}

.updateItem:hover .newsTitle {
  opacity: 0;
}

.updateItem:hover .redirectMsg {
  opacity: 1;
  pointer-events: auto;
}

.updateItem:hover {
  box-shadow: 0 0 16px rgba(0,0,0,0.5);
  transform: translateY(-2px);
  transition: all 0.5s ease-out;
}

.updateItem p {
    margin: 0;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 8px;
}